body {
    background: darkorange;
}

img {
    display: block;
    max-width: 100%;
}

.background {
    width: 500px;
    /* height: 500px; */
    margin: auto;
    background-image: url(images/tic-tac-toe-board.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.game-container {
    display: grid;
    width: 500px;
    /* padding: 5px; */
    grid-template-columns: [left] 1fr [center] 1fr [right] 1fr;
    grid-template-rows: [top] 1fr [center] 1fr [bottom] 1fr;
    justify-items: center;
    align-items: center;;
    /* gap: 10px 10px; */
}

.game-item {
    width: 125px;
    height: 125px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.game-item:hover {
    background-color: limegreen;
}

#start-game-button {
    margin-top: 20px;
}

.button {
    display: inline-block;
    border: none;
    padding: 8px;
    background: #666666;
    color: limegreen;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.button:hover {
    cursor: pointer;
    background-color: #888888;
}

.difficulty-container {
    /* display: none; */
    margin: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.custom-select {
    margin-top: 10px; 
}

.custom-select select {
    background: darkgray;
    font-size:20px;
}

.button:active {
    transform: translateY(4px);
}

.x {
    background-image: url(images/x.png);
}

.o {
    background-image: url(images/o.png);
}