body {
    background: darkorange;
}

.game-container {
    display: grid;
    width: 500px;
    height: 500px;
    margin: auto;
    /* padding: 5px; */
    grid-template-columns: [left] 1fr [center] 1fr [right] 1fr;
    grid-template-rows: [top] 1fr [center] 1fr [bottom] 1fr;
    justify-items: center;
    align-items: center;;
    /* gap: 10px 10px; */
    background-image: url(images/tic-tac-toe-board.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border: 5px solid black; */
}

.game-item {
    width: 125px;
    height: 125px;
    background-image: url(images/o.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: #666666; */
    /* border: 5px solid black; */
    /* border-radius: 10px; */
}

.game-item:hover {
    background-color: limegreen;
}

#start-game-button {
    
}

.button {
    display: inline-block;
    border: none;
    padding: 8px;
    background: #666666;
    color: limegreen;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.button:hover {
    cursor: pointer;
    background-color: #888888;
}

.button:active {
    transform: translateY(4px);
}